header{
		margin-top: 0px;
		text-align: center;
		background-image: url("images/background.jpg");
		padding-top: 100px;
		padding-bottom: 0px;
		color: deeppink;
		font-size: 40px;
		font-family: 'Berkshire Swash', cursive;
}


body{
		margin-top: 0px;
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 0px;
		background-color: gray;
}

h1{
		text-align: center;
		font-family: 'Quattrocento Sans', sans-serif;
}

h2{
		font-family: 'Berkshire Swash', cursive;
		text-align: center;
}

.biography{

		text-align: center;
		background-color: lightgray;
		padding-bottom: 30px;
		padding-top: 10px;
}


.hobbies{
		text-align: center;
		background-color: pink;
		padding-bottom: 30px;
		padding-top: 10px;
}

.country{
		text-align: center;
		background-color: white;
		padding-top: 10px;
		padding-bottom: 30px;
}

.fanclub{
		font-family: 'Quattrocento Sans', sans-serif;
		text-align: center;
		padding-top: 0px;
		padding-bottom: 100px;
		background-image: url("images/bottom.png");
}


ul{
		text-align: left;
		display: inline-table;
}

th{
		padding: 15px;
}

td{
		padding: 20px;
}

.hidden{
		display:none;
}